 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Maryland Covid 19</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="/static/css/choropleth_style.css">
  <!-- JQuery Minized -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Plotly Minimized -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="#" class="nav-link">
          <span class="link-text logo-text">Covid19 Maryland</span>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="angle-double-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">
          <img src="/static/images/dashboard.png" alt="" width="50px" height="50px">
          <span class="link-text">Dasboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">  
          <img src="/static/images/data.png" alt="" width="50px" height="50px">
          <span class="link-text">Data Summary</span>
        </a>
      </li>
    </ul>
  </nav>
  <main>
    <div class="container">
      <div class="dashboard">
        <div class="dashboard-header">
          <h1>Covid-19 Dashboard</h1>
        </div>
        <div class="content-sidebars">
          <div class="col state-cases">
            <select id="dates-vaccines-select" ></select> <hr>
            <div id="gauge"></div>
          </div>
          <div class="col">
            <div class="box-header">
              <h2 class="box-title">Number of Confirmed Cases</h2>
              <select id="dates-cases-select" ></select> 
            </div>
            <hr>
            <div class="map-container">
              <div id="map-cases"></div>
            </div>        
          </div>
          <div class="col">
            <hr>
            <div class="well" style="width: 180px; border-radius: 3px;margin-bottom: 10px;padding-left: 3%;padding-bottom: 10px; align-items: center; justify-items: center;">
              <h4>Select County</h4>
              <select id="counties-selector" style="margin:auto;" ></select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- bootstrap -->
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- Leaflet-Choropleth JavaScript -->
  <script type="text/javascript" src="../static/js/choropleth.js"></script>
  <script type="text/javascript" src="../static/js/logic.js"></script>
  <script type="text/javascript" src="../static/js/cases_concentration.js"></script>
  <!-- Our JavaScript -->
  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

</html>